.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/imgg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* Ensure the background doesn't scroll */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    max-width: 800px;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
}

/* Media queries */
@media (max-width: 850px) {
    .hero-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    .hero-text h1 {
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p {
        font-size: 14px;
        margin: 15px auto 30px;
    }
}

/* Media query for smaller tablets */
@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 24px;
        max-width: 300px;
    }
    .hero-text p {
        font-size: 12px;
        max-width: 280px;
        margin: 10px auto 20px;
    }
}
@media (max-width: 400px) {
   
    .hero-text h1 {
        font-size: 20px;
        max-width: 250px;
    }
    .hero-text p {
        font-size: 12px;
        max-width: 280px;
        margin: 10px auto 20px;
    }
}



/* Media query for mobile phones */
 @media (max-width: 360px) {
    .hero-text h1 {
        font-size: 20px;
        max-width: 250px;
    }
    .hero-text p {
        font-size: 10px;
        max-width: 240px;
        margin: 8px auto 16px;
    }
} 